
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-image: url('img/JPAF9142.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans Thai Looped';
    padding: 5em;
}

.title {
    font-size: 2em;
    text-align: center;
}

.work {
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.work li {
    
    margin-right: 2em;
    /* background-color: lightcyan; */
    border: 2px solid lightcyan;
    padding: .5em;
    border-radius: 5px;
    transition: .75s ease;
    cursor: pointer;
}
.work li:hover {
    background-color: lightcyan;
}
.work li a {
    text-decoration: none;
    color: #000;
}
.author {
    text-align: center;
    font-size: small;
}