
body {
    margin: 0;
    box-sizing: border-box;
}


button {
    padding: 0 !important;
    width: 100% !important;
    box-sizing: border-box;
}

#quizListBox {
    padding: 0 !important;
}


#back-btn {
    width: 15% !important;
    padding: .5em !important;

    margin-left: 1em;
    margin-top: 1em;
}

#btnCheckAnswer, #btnRedoQuiz, #startBox, #home-btn {
    padding: 1em !important;
    margin-bottom: 1em;
    margin-top: 1em;
}
